[user]
  name = Seth Miller
  email = {{ .email | quote }}
  signingkey = {{ .signingkey | quote }}

[alias]
  cm = checkout master
  s = status -sb
  cb = checkout -b
  b = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  l = log --pretty=format:'%C(magenta)%h %ad%Cred%d %Creset%s%Cgreen [%an]' --decorate --date=short -10
  last = log -p -1
  uncommit = reset --soft HEAD~1

[init]
  defaultBranch = master

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[commit]
  gpgsign = true
