[user]
  name = Seth Miller
  email = {{ .email | quote }}
  signingkey = {{ .signingkey | quote }}

[alias]
  cm = "!f() { \\\n  if git show-ref --verify --quiet refs/heads/main || git show-ref --verify --quiet refs/remotes/origin/main; then \\\n    git checkout main; \\\n  else \\\n    git checkout master; \\\n  fi; \\\n}; f; git pull"
  s = status -sb
  cb = checkout -b
  b = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  l = log --pretty=format:'%C(magenta)%h %ad%Cred%d %Creset%s%Cgreen [%an]' --decorate --date=short -10
  last = log -p -1
  uncommit = reset --soft HEAD~1
  wip = !git add -A && git commit -m 'wip'
  d = diff --color-words

[init]
  defaultBranch = master

[core]
  pager = delta
  editor = nvim
  excludesfile = ~/.config/gitignore
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[interactive]
  diffFilter = "delta --color-only"

[delta]
  #navigate = true
  #side-by-side = true
  line-numbers = true
  #syntax-theme = "OneHalfDark"

[commit]
  gpgsign = true

[push]
  autoSetupRemote = true

[credential]
	helper = store
