[user]
  name = Seth Miller
  email = {{ .email }}
{{- if .signingkey }}
  signingkey = {{ .signingkey }}
[commit]
  gpgsign = true
[tag]
  gpgsign = true
{{- end }}
[alias]
  d = diff
  s = status -sb
  cb = switch -c
  last = log -p -1
  uncommit = reset --soft HEAD~1
  amend = commit -a --amend --no-edit
  wip = !git add -A && git commit -m 'wip'
  ls = diff-tree --no-commit-id --numstat -r
  l = log --pretty=format:'%C(magenta)%h %C(green)%ad %C(white)%s %C(blue)[%an]' --decorate --date=human -10
  cm = "!f() { branch=$(git symbolic-ref --quiet --short refs/remotes/origin/HEAD) || exit; branch=${branch#origin/}; git switch \"$branch\" && git pull --ff-only; }; f"
  b = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
[init]
  defaultBranch = main
[core]
  editor = nvim
  whitespace = trailing-space,cr-at-eol
{{- if lookPath "delta" }}
  pager = delta
[interactive]
  diffFilter = "delta --color-only"
[delta]
  line-numbers = true
{{- end }}
[push]
  default = simple
  autoSetupRemote = true
[pull]
  ff = only
[rebase]
  autoStash = true
  autosquash = true
[credential]
{{- if eq .chezmoi.os "darwin" }}
  helper = osxkeychain
{{- else }}
  helper = cache --timeout=86400
{{- end }}
[cola]
  fontdiff = Monospace,12,-1,0,400,0,0,0,0,0,0,0,0,0,0,1,,0,0
  fontsize = 12
  theme = default
  icontheme = default
[apply]
  whitespace = fix
[fetch]
  prune = true
  pruneTags = true
[branch]
  sort = -committerdate
[column]
  ui = auto
[diff]
  algorithm = histogram
  colorMoved = default
  mnemonicPrefix = true
[merge]
  conflictstyle = zdiff3
[rerere]
  enabled = true
[status]
  showUntrackedFiles = all
[help]
  autocorrect = prompt
